<div fxLayout="column">
  <span fxLayoutAlign="center center">
    <h1>Available Posts</h1>
  </span>
  <div fxLayout="row wrap" fxLayoutAlign="center center" class="my-40">
    <span fxFlex="60" fxLayoutAlign="center center">
      <button mat-raised-button (click)="addPost()">Add Post</button>
    </span>
  </div>
  <div fxLayout="row wrap" fxLayoutAlign="center center">
    <div fxLayout="column" fxFlex="80">
      <div fxLayout="row wrap" fxLayoutGap="20px">
        <div fxFlex="40" *ngFor="let post of posts; let i = index">
          <mat-card class="cards">
            <div fxLayout="row wrap" fxLayoutAlign="end" class="my-20">
              <span fxFlex="20">
                <button
                  mat-raised-button
                  (click)="onEditClick(i, post)"
                  color="primary"
                >
                  Edit
                </button> </span
              ><span fxFlex="20"
                ><button
                  mat-raised-button
                  (click)="onDeleteClick(i)"
                  color="warn"
                >
                  Delete
                </button></span
              >
            </div>
            <mat-card-title>{{ post.title }}</mat-card-title>
            <mat-card-subtitle>{{ post.body }}</mat-card-subtitle>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
</div>
